<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Create Event</title>
  </head>
  <body class="bg-dark text-white">
    <div class="container mt-4 col-4 col-offset-6">
      <h1 class="display-5">Add Event</h1>
      <form
        method="POST"
        action="/api/v1/events/create"
        name="eventform"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="name" class="form-label">name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="date" class="form-label">date</label>
          <input
            type="date"
            name="date"
            class="form-control"
            id="date"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="time" class="form-label">Time</label>
          <input
            type="time"
            name="time"
            class="form-control"
            id="time"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="isOnline" class="form-label">Is the event online</label>
          <select
            name="isOnline"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected value="">Is the event online</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="contactNameFirst" class="form-label">contact name 1</label>
          <input
            type="text"
            name="contactNameFirst"
            class="form-control"
            id="contactNameFirst"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="contactNumberFirst" class="form-label">contact Number 1</label>
          <input
            type="text"
            name="contactNumberFirst"
            class="form-control"
            id="contactNumberFirst"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="contactNameSecond" class="form-label">contact name 2</label>
          <input
            type="text"
            name="contactNameSecond"
            class="form-control"
            id="contactNameSecond"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="contactNumberSecond" class="form-label">contact Number 2</label>
          <input
            type="text"
            name="contactNumberSecond"
            class="form-control"
            id="contactNumberSecond"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="regFee" class="form-label">Fee(give value in numbers eg:200,300 etc)</label>
          <input
            type="number"
            name="regFee"
            class="form-control"
            id="regFee"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="regFeeTeam" class="form-label">Team Fee(give value in numbers eg:200,300 etc)</label>
          <input
            type="number"
            name="regFeeTeam"
            class="form-control"
            id="regFeeTeam"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="eventType" class="form-label">Event Type</label>
          <select
            name="eventType"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>Select eventType</option>
            <option value="proshow">proshow</option>
            <option value="techfest">techfest</option>
            <option value="saptha">saptha</option>
            <option value="taksathi">taksathi</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="category" class="form-label">Event Category</label>
          <select
            name="category"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected value="">Select event category</option>
            <option value="workshops">workshops</option>
            <option value="competitions">competitions</option>
            <option value="exhibitions">exhibitions</option>
            <option value="preevents">pre-events</option>
            <option value="generalevents">general-events</option>
            <option value="spotlight">spotlight</option>
            <option value="solo">solo</option>
            <option value="expo">expo</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="maxParticipants" class="form-label">Max Number of Participants</label>
          <input
            type="number"
            name="maxParticipants"
            class="form-control"
            id="maxParticipants"
            aria-describedby="emailHelp"
            min="1"
          />
        </div>

        <div class="mb-3">
          <label for="isPreEvent" class="form-label">Is it a pre-event</label>
          <select
            name="isPreEvent"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected >Is it a pre event</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>

        

        <div class="mb-3 ">
          <label for="description">Description</label>
          <textarea
            type="text"
            class="form-control"
            name="description"
            id="description"
            rows="5"
            style="min-width: 100%;"
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="photo" class="form-label">eventphoto</label>
          <input
            type="file"
            name="photo"
            multiple
            class="form-control"
            id="photo"
          />
        </div>

        <div class="mb-3">
          <label for="photoMobile" class="form-label">eventphoto(for mobile)</label>
          <input
            type="file"
            name="photoMobile"
            multiple
            class="form-control"
            id="photoMobile"
          />
        </div>

        <div class="mb-3">
          <label for="prize" class="form-label">prize(eg:4.5k,2k etc)</label>
          <input
            type="text"
            name="prize"
            class="form-control"
            id="prize"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="department" class="form-label">Department</label>
          <select
            name="department"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected value="">Select Department</option>
            <option value="CSE">CSE</option>
            <option value="EEE">EEE</option>
            <option value="IT">IT</option>
            <option value="ECE">ECE</option>
            <option value="ME">ME</option>
            <option value="CE">CE</option>
            <option value="Robotics">Robotics</option>
          </select>
        </div>

        <div class="mb-3 ">
          <label for="rules">Rules(eg:firstRule$secondRule$thirdRule etc)</label>
          <textarea
           type="text"
            class="form-control"
            name="rules"
            id="rules"
            rows="5"
            style="min-width: 100%;"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
